<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Les Bibliothèques de Katzenheim</title>
</head>
<body>
<header>
    <div class="header_top_part">
        <div th:insert="menu.html"></div>
    </div>
</header>
<div class="page_formulaire">

        <div class="col-sm-8 loginPart" id ="loginBlock">
            <div class="m-5">
                <h1>SE CONNECTER</h1>
                <form th:action="@{/login}" method="post" th:object="${userLoginDto}">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Identifiant / mot de passe éronné(s).</div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">Vous avez été déconnecté.</div>
                    </div>
                    <div class="col-sm-8 form-group">
                        <label for="username">Identifiant</label>: <input type="text" th:field="*{username}"
                                                                          id="username" name="username" class="form-control"
                                                                          autofocus="autofocus" placeholder="Username">
                        <div class="element_danger">
                            <div id="errorusername"></div>
                            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                        </div>
                    </div>

                    <div class="col-sm-8 form-group">
                        <label for="password">Mot de passe</label>: <input type="password" th:field="*{password}"
                                                                           id="password" name="password" class="form-control"
                                                                           placeholder="Password">
                        <div class="element_danger">
                            <div id="errorpassword"></div>
                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>
                    </div>
                    <div class="col-sm-8 form-group">
                        <input type="submit" name="login-submit" id="login-submit"
                               class="btn btn-primary" value="Log In">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer>
    <div th:insert="footer.html"></div>
</footer>
</body>
</html>